<center>
  <h1 class="white-text">About</h1>
  <h3 style="margin: 30px" class="white-text">LeagueStats is a website that allows users to quickly gain access to recent gaming histories of players. You can also view champions currently available in the game and checkout abilities and other information. STILL UNDER DEVELOPMENT.</p>
</center>