<center>
<h1 class="white-text">Contact</h1>

<h4 class="white-text">Currently located in SF bay area and open to new opportunities.</h4>
<h3 class="white-text">Email: jchoo156@gmail.com</h3>
</center>