<ul id="navbar">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/champions">Champions</a></li>
  <li><%= link_to 'About', static_pages_about_path %></li>
  <li><%= link_to 'Contact', static_pages_contact_path %></li>
</ul>