table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.summoner-name {
  color: white;
}

.summoner-lvl {
  color: white;
}

.matches {
  margin: 20px;
}

.tr-white {
  background-color: white;
}

.enemies {
  background-color: purple;
}

.allies {
  background-color: blue;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

.win {
  background-color: #4CAF50;
}

.loss {
  background-color: #ef4640;
}

table td {
  text-align: center;
}

.grow1 { transition: all .3s ease-in-out; }
.grow1:hover { transform: scale(1.05); background-color: green;}

.grow2 { transition: all .3s ease-in-out; }
.grow2:hover { transform: scale(1.05); background-color: red;}

