#navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

#navbar > li {
    float: left;
}

#navbar > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

#navbar > li > a:hover {
    background-color: #4CAF50;
}

.active {
}