#navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    z-index: 1;
    background-color: #0F101F;
    font-family: 'Coda', cursive;
}

#navbar > li {
    float: left;
}

#navbar > li > a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

#navbar > li > a:hover {
    background-color: #4CAF50;
}

#navbar > li {
    border-right: 1px solid #545454;
}

.active {
}