<div class="parallax">
  <center>
    <h1 class="title roboto font-size30">Enter Summoner Name</h1>

    <br>

    <%= form_tag(stats_path, :method => "get") do %>
      <%= text_field_tag(:summoner_name) %>
      <br>
      <%= submit_tag("Search") %>
    <% end %>
  </center>
</div>